* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Kufam", cursive;
  left: 0;
  margin: 0 auto;
  color: white;
  > *:not(#navbar) {
    padding-top: 50px;
    border: 2px solid;
    width: 100vw;
  }
}
a {
  color: unset;
}
#navbar {
  display: inline-block;
  top: 0;
  position: fixed;
  width: 100vw;
  height: content;
  text-align: center;
  background-color: indigo;
  column-rule: solid white;
  column-gap: 30rem;
  box-shadow: 0 2px 9px rgb(105, 103, 103);



}
.section{

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#welcome-section {
  display: flex;
  padding-top: 50px;
  height: 100vh;
  background-image: url("yellow.jpg");
  text-align: center;
  position: relative;
  overflow-wrap: break-word;
  align-items: center;
  h1 {
    width: 100%;
    text-transform: capitalize;
    font-size: 72px;
  }
}
#project-section {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 5vh;
  background-image: url("blue.jpg");
  text-align: center;
  padding: 5vh;
  .project {
    border: 2px solid white;
    width: max-content;
    background-color: rgba($color: #000000, $alpha: 0.4);

    .project-title {
      margin-top: 0;
      color: white;
      text-decoration: none;
      padding-top: 10px;
    }
    img{
      height: 200px;
      width: 300px;
    }
  }
}
.project:hover {
  box-shadow: 0 2px 9px rgb(105, 103, 103);
  height: calc(initial+10px);
}
#contact-section{
  display: flex;
  flex-flow: column;
  background-image: url("white.jpg");
  align-content: center;
  text-align: center;
  font-size: 36px;
  > *{
    padding-top:  5%;
    padding-bottom: 2%;
    text-decoration: none;
    color: black;
  }
}
.footer{
  background-color: black;
  color: gray;
  text-decoration: none;
}

@media (max-width: 800px) {
  #project-section {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 540px) {
  #project-section {
    grid-template-columns: 1fr;
  }
}
