#main {
    display: inline-block;
    position: relative;
    background-color: wheat;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    padding: 20px 50px 20px 50px;
}

#title {
    
    text-align: center;
    text-shadow: 2px 2px rgba(22, 22, 22, 0.5);
    text-decoration: underline;
}

#img-div {
    display: block;
    margin: auto;
    float: right;
    color: wheat;
    background-color: black;
    padding: 20px 20px 5px 20px;
    max-width:200px;
    border: 2px solid gray;
    box-shadow: 2px 2px 2px gray;
    text-align: justify;
}


#img-caption {
    font-size: 12px;
}
#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
#tribute-info {
    display: block;
    padding: 20px;
    margin: auto;
    height: 370px;
}

#tribute-link:link{
    text-decoration: none;
    color: black;
}

#tribute-link:hover{
    text-decoration: underline;
    color: blue;
}

#tribute-link:visited{
    text-decoration: none;
    color: black;
}


