$text-color: white;
#header {
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    color:$text-color;
  box-shadow: 2px 2px 5px black;
}

#navbar {
  display: flex;
  flex-direction: row;
  float: right;
  line-height: 45px;
}

.nav-link {
  padding-left: 10px;
  padding-right: 10px;
  border-left: 2px solid white;
  text-decoration: none;
  color: $text-color;
  
}
a:hover{
      
    background-color: rgba($color: #000000, $alpha: 0.2);
}

.section {
    background-color: cornflowerblue;
    align-content: center;
    padding: 50px 5% 10px 5%;
    text-align: center;

}
#video{
    width: 90vw;
    height: 100vmin;
    
}

@media(max-width:370px){
    #navbar{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .section{
        padding: 25px 5% 5px 5%;
    }

}